@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
         
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="fa-thin fa-award"></i> </div>
                        <div class="media-info">
                            <h5>Marka Sayımız</h5>
                            <h3>@ViewBag.BrandCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="fa-thin fa-star"></i> </div>
                        <div class="media-info">
                            <h5>Kategori Sayısı</h5>
                            <h3>@ViewBag.CategoryCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="fa-thin fa-user-hoodie"></i> </div>
                        <div class="media-info">
                            <h5>Farklı Ürün Sayısı</h5>
                            <h3>@ViewBag.ProductCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>En Pahalı Ürünümüz</h5>
                            <h6>@ViewBag.MaxPrice</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="fa-thin fa-hand-holding-dollar"></i> </div>
                        <div class="media-info">
                            <h5>En Ucuz Ürünümüz</h5>
                            <h5>@ViewBag.MinPrice</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="fa-thin fa-users"></i> </div>
                        <div class="media-info">
                            <h5>Kullanıcı Sayımız</h5>
                            <h3>7</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
         
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
         
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box bg-sea">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Total Payment</h5>
                            <h3>$8,530</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- content -->
    </div>
</div>