@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#94a3b8">
                        <div class="media-icon pull-left"><i class="fa-thin fa-award"></i> </div>
                        <div class="media-info">
                            <h5>Marka Sayımız</h5>
                            <h3>@ViewBag.BrandCount</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#64748b">
                        <div class="media-icon pull-left"><i class="fa-thin fa-star"></i> </div>
                        <div class="media-info">
                            <h5>Kategori Sayısı</h5>
                            <h3>@ViewBag.CategoryCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#334155">
                        <div class="media-icon pull-left"><i class="fa-thin fa-user-hoodie"></i> </div>
                        <div class="media-info">
                            <h5>Farklı Ürün</h5>
                            <h3>@ViewBag.ProductCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#1e293b">
                        <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                        <div class="media-info">
                            <h5>Pahalı Ürün</h5>
                            <h6>@ViewBag.MaxPrice</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#737373">
                        <div class="media-icon pull-left"><i class="fa-thin fa-hand-holding-dollar"></i> </div>
                        <div class="media-info">
                            <h5>En Ucuz Ürünümüz</h5>
                            <h5>@ViewBag.MinPrice</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#525252">
                        <div class="media-icon pull-left"><i class="fa-light fa-shield-halved"></i></div>
                        <div class="media-info">
                            <h5>Aktif Yorum Sayısı</h5>
                            <h3>@ViewBag.ActiveComment</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#404040">
                        <div class="media-icon pull-left"><i class="fa-light fa-shield-slash"></i> </div>
                        <div class="media-info">
                            <h5>Pasif Yorum Sayısı</h5>
                            <h3>@ViewBag.PassiveComment</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#262626">
                        <div class="media-icon pull-left"><i class="fa-light fa-thought-bubble"></i> </div>
                        <div class="media-info">
                            <h5>Gelen Görüş Sayısı</h5>
                            <h3>@ViewBag.TotalComment</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#fbbf24">
                        <div class="media-icon pull-left"><i class="fa-thin fa-users"></i></div>
                        <div class="media-info">
                            <h5>Kayıtlı Kullanıcı</h5>
                            <h3>7</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#fb923c">
                        <div class="media-icon pull-left"><i class="fa-light fa-ticket-perforated"></i> </div>
                        <div class="media-info">
                            <h5>Kupon Sayısı</h5>
                            <h3>@ViewBag.CouponCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#d97706">
                        <div class="media-icon pull-left"><i class="fa-light fa-gift"></i> </div>
                        <div class="media-info">
                            <h5>Büyük Kupon</h5>
                            <h3>MEKSIKA30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#ea580c">
                        <div class="media-icon pull-left"><i class="fa-light fa-message-dots"></i> </div>
                        <div class="media-info">
                            <h5>Mesaj Sayısı</h5>
                            <h3>13</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#4ade80">
                        <div class="media-icon pull-left"><i class="fa-light fa-headset"></i> </div>
                        <div class="media-info">
                            <h5>Destek Talebi</h5>
                            <h3>3</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#22c55e">
                        <div class="media-icon pull-left"><i class="fa-light fa-cash-register"></i></div>
                        <div class="media-info">
                            <h5>Kasa Tutarı</h5>
                            <h3>18.000₺</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#16a34a">
                        <div class="media-icon pull-left"><i class="fa-light fa-ghost"></i> </div>
                        <div class="media-info">
                            <h5>Toplam Ziyaretçi</h5>
                            <h3>18</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="media-box" style="background-color:#15803d">
                        <div class="media-icon pull-left"><i class="fa-light fa-thumbs-up"></i></div>
                        <div class="media-info">
                            <h5>Beğeni</h5>
                            <h3>1</h3>
                        </div>
                    </div>
                </div>
            </div>
       
        </section>
        <!-- content -->
    </div>
</div>