@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Ürünler</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Ana Sayfa</a></li>
            <li class="active"><i class="fa fa-envelope-o"></i> Tablolar</li>
            <li class="active"><i class="fa fa-table"></i> Ürün Listesi</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>Ürün Listesi</h4>
                    <div id="example_filter" class="dataTables_filter pull-right">
                        <a href="/Admin/Product/CreateProduct/" class="btn btn-default">Yeni Ürün Girişi</a>
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="sortable">ID</th>
                                <th class="sortable">Görsel</th>
                                <th class="sortable">Ürün Adı</th>
                                <th class="sortable">Fiyat</th>
                                <th class="sortable">Kategori</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>

                                <td class="text-truncate">@count</td>
                                <td class="text-truncate">@item.ProductImageUrl</td>
                                <td class="text-truncate">@item.ProductName</td>
                                <td class="text-truncate">@item.Price</td>
                                <td class="text-truncate">@item.Category.CategoryName</td>
                                <td class="text-truncate"><a href="#" class="btn btn-primary">Detay</a></td>
                                <td><a href="/Admin/Product/UpdateProduct/@item.ProductID" class="btn btn-warning">Güncelle</a></td>
                                <td><a href="/Admin/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }


                    </table>
                    <ul class="pagination m-bot-0">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- content -->
</div>

